In [1]:
import module_update

Updated file nbtext.py
Updated file nbpictures.py

In [2]:
import nbtext as nb

In [3]:
import requests
import pandas as pd

In [4]:
from nbtext import collocation, collocation_data

In [5]:
abrev = nb.get_urn({'title':'%%amerika til%', 'limit':100}) 
abrev

[[2007091801006, '', 'Fra Amerika til Norge', 1992],
 [2010051906100, '', 'Fra Amerika til Norge', 1992],
 [2007112704027, '', 'Fra Amerika til Norge', 1993]]

In [15]:
abrev2 = nb.get_urn({'author':"sunde%rasm%"})
abrev2[1:]

[[2010061503016, 'Sunde, Rasmus', 'utvandrarsoge frå Sogndal', 1994],
 [2016072248034, 'Sunde, Rasmus', 'stad skal ein vera', 1989]]

In [39]:
abrev3 = nb.get_urn({'title':'%%amerika%brev%', 'limit':100}) 
abrev3[:5]

[[2013010308006, '', 'Amerikabrev', 2000],
 [2016052608061, 'Engen, Arnfinn', 'Utvandringshistorie og amerikabrev', 1975],
 [2007041601053, 'Johnson, Pål Espolin', 'Amerikabrev', 1985],
 [2015012808002, 'Kræmmer, Elias', 'Amerikanske breve', 1909],
 [2013041608123, 'Rodegard, Olaf', 'Amerikabrev', 1988]]

In [40]:
abrev = abrev + abrev2[1:] + abrev3

In [8]:
dbrev = nb.get_urn({'ddk':'304.8%', 'limit':100})
dbrev

[[2007071100083, 'Semmingsen, Ingrid', 'Drøm og dåd', 1975],
 [2012070606114, 'Bysveen, Tor', 'Boligskifter i Norge', 1983],
 [2012071208196, '', 'Utvandrere fra Otterøya til Amerika 1840-1920', 1994],
 [2015060508068, '', 'Norsk emigrantlitteratur', 2000],
 [2008101400073, 'Rorgemoen, Dag', 'mange val', 2000],
 [2008010200003, 'Moe, Jon', 'Kari', 1994],
 [2015091106113,
  'Engen, Arnfinn',
  'To artiklar om utvandring / Arnfinn Engen',
  1977],
 [2010030303045,
  'Brochmann, Grete',
  'European integration and immigration from third countries',
  1996],
 [2008061904063, 'Nilsen, Tom', 'Canada-feber', 1996],
 [2009011304040,
  'Gjerstad, Joralf',
  'Snåsninger og andre nordmenn i Vesterled',
  1998],
 [2009042104066,
  'Skretting, Harald',
  "In my father's footsteps - 75 years later",
  2000],
 [2016052608061, 'Engen, Arnfinn', 'Utvandringshistorie og amerikabrev', 1975],
 [2012083108009, 'Hauger, Torill Thorstad', 'store Chicagoreisen', 1988],
 [2015112708157, 'Standal, Ragnar', 'Mot nye heimland', 1985],
 [2008012500037, 'Møller, Arvid', 'Drømmenes land', 1994],
 [2008062600001, 'Coron, Edith', 'store utvandringen', 1994],
 [2010113008120, '', 'Forskning om innvandring', 1991],
 [2007070301006, '', 'Cleng Peerson Memorial Institute 1970-1980', 1980],
 [2008101004055, '', 'Utvandring til Amerika', 2000],
 [2014052208110, '', 'Amerikafeber', 1989],
 [2014111438043,
  'Knudsen, Knud',
  'Beretning om en Reise fra Drammen i Norge til New-York i Nord-America',
  1986],
 [2008061004002, 'Kuparinen, Eero', 'African alternative', 1991],
 [2016010408270, 'Hasund, Knut J.', 'Ulstein og Hareid i Amerika', 1986],
 [2008091104009,
  'Carling, Jørgen',
  'Arbeidsinnvandring og familiegjenforening 1967-1980',
  1999],
 [2008022600001,
  'Øverland, Orm',
  '"Det smærter mig meget at nedskrive disse Linjer til Eder"',
  1995],
 [2014071808096, 'Ryningen, Alfred', 'Valle kommune', 2000],
 [2011081808102, 'Lorentzen, Harald', 'Reisen mot vest', 1997],
 [2010121406059, 'Sogner, Sølvi', 'Ung i Europa', 1994],
 [2013061708050, 'Røine, Bengt-Arne', 'Drømmen om Alaskagullet', 1982],
 [2015030208021,
  'Rynning, Ole',
  "Ole Rynning's true account of America",
  1926],
 [2016081708001, 'Håtveit, Arnt Edvin', 'Saude og Nes', 2000],
 [2008030704035, 'Ramsfjell, Berit Sagen', 'De fant et nytt hjem', 1995],
 [2007082401038, 'Thorsen, Laila', 'Russland via Vardø', 1991],
 [2009031804196, 'Espedal, Kjell', 'Dei som drog', 1998],
 [2012102608105, '', 'They came from Norway', 1975],
 [2008112500115, 'Sørdal, Abram Kjell', 'Utvandringen til Amerika', 2000],
 [2007082100077, '', 'Migrasjonsforskning i Norge 1980-1990', 1990],
 [2012061406142, 'Ottosen, Rune', 'Mitt nye hjemland', 1987],
 [2008041804067, 'Semmingsen, Ingrid', 'Veien mot vest', 1950],
 [2012091008112,
  'Gjersvik, Martin',
  'De som dro fra Karmøy til Amerika =',
  1984],
 [2008020600020, '', 'Frå Sogn til Amerika', 1994],
 [2014032408136, '', 'Utvandring frå Voss til Amerika', 1985],
 [2011022808164, '', 'Norsk emigrantlitteratur', 2000],
 [2008021100126,
  'Bakken, Reidar',
  'Lad ingen sladdrelystne læse mine brever-',
  1995],
 [2016062308064, 'Kvam, Arne', 'Utvandrere fra Grong til Amerika', 1985],
 [2014091006057, 'Bye, Erik', 'Blow, silver wind', 1978],
 [2009090400012, '', 'Migrasjon i Norden', 1997],
 [2014072908035,
  'Hovdhaugen, Einar',
  'Utvandringa til Amerika frå Ringebu',
  1983],
 [2009041504136, 'Childers, Anne Salverson', 'Draumen om ei betre verd', 2000],
 [2013110608132, 'Flå, Vibeke', 'Utvandring og intern flytting', 1995],
 [2016072248034, 'Sunde, Rasmus', 'stad skal ein vera', 1989],
 [2016090508041, 'Prestgard, Semon', 'Heidal', 1992],
 [2014022408011, '', 'Eit blidare tilvere?', 1986],
 [2008012800046,
  'Skretting, Harald',
  'I far sine fotefar - 75 år etter',
  1994],
 [2010061503016, 'Sunde, Rasmus', 'utvandrarsoge frå Sogndal', 1994],
 [2010082403023, 'Evensen, Erik Aalvik', 'Amerika-brevene', 1996],
 [2008081200101, 'Tjernsberg, Torbjørn', 'Under sydkorset', 1997],
 [2013082708209, 'Strøm, Elin', 'Reisen til Amerika', 1984],
 [2014121108068, '', 'Norwegian-American essays 1996', 1996],
 [2009062304044,
  'Andresen, Øystein Molstad',
  'Uredd ferd mot ukjent land',
  1999]]

In [81]:
dbrev = nb.get_urn({'yearfrom':1850, 'yearto':1940, 'limit':200})
dbrev[:5]

[[2007021201003, 'Haalke, Magnhild', 'Kaja Augusta', 1947],
 [2008091100023, '', 'Damping av jord mot sopp, ugras og nematoder', 1999],
 [2013041908035, 'Ullman, James Ramsey', 'Tredje mann på toppen', 1960],
 [2009120100073, 'Grinde, Bente Karin E.', 'nye omsorgsarbeideren', 1997],
 [2015090906051, 'Johansen, Frits', 'Aksel Sandemose og Danmark', 1963]]

In [41]:
fs = [nb.get_freq(u[0], top=0, cutoff=0) for u in abrev]
from collections import Counter
fsum = Counter()
for f in fs:
    fsum += f

In [82]:
gs = [nb.get_freq(u[0], top=0, cutoff=0) for u in dbrev]
from collections import Counter
dsum = Counter()
for f in gs:
    dsum += f

In [83]:
brev = pd.DataFrame.from_dict(fsum, orient='index')
brev.columns = ['brev']
ref = pd.DataFrame.from_dict(dsum, orient='index')
ref.columns = ['ref']
nb.normalize_corpus_dataframe(brev)
nb.normalize_corpus_dataframe(ref)

True

In [84]:
combo = (brev.join(ref)).fillna(0.8)

In [ ]:
"Iowa" "lowa"

In [123]:
pd.DataFrame((combo['brev']**1.06/combo['ref'])).sort_values(by=0, ascending=False)

                         0
Iowa          2.358826e+03
lowa          1.016680e+03
Wisconsin     1.006119e+03
Lindtner      8.685645e+02
Hilse         8.510933e+02
Dollar        7.094193e+02
Cent          6.488700e+02
Skare         6.202479e+02
Minnesota     6.116486e+02
Worth         5.746090e+02
Illinois      5.691040e+02
Gulliksen     4.558206e+02
Dakota        4.530120e+02
Hermund       3.775705e+02
Hilset        3.747917e+02
ikkt          3.636884e+02
Ingebrikt     3.498363e+02
tjenestepige  3.373456e+02
ieg           3.366342e+02
utvandringen  3.277378e+02
Creek         3.277378e+02
Brooklyn      3.158440e+02
nker          2.947494e+02
komer         2.810644e+02
Registre      2.749749e+02
Albion        2.728714e+02
Folkedal      2.674171e+02
Busett        2.646923e+02
iaa           2.624029e+02
bage          2.592474e+02
...                    ...
tiutte        2.526243e-07
tiund         2.526243e-07
tiun          2.526243e-07
tiuiM         2.526243e-07
tiugjen       2.526243e-07
tjpjje        2.526243e-07
tjtning       2.526243e-07
tlti          2.526243e-07
tkoL          2.526243e-07
tlmi          2.526243e-07
tllåagt       2.526243e-07
tliig         2.526243e-07
tlgt          2.526243e-07
tldat         2.526243e-07
tlcLut        2.526243e-07
tlLkagi       2.526243e-07
tlLdut        2.526243e-07
tkstiL        2.526243e-07
tko           2.526243e-07
tkSt          2.526243e-07
tkkjt         2.526243e-07
tkkjL         2.526243e-07
tkki          2.526243e-07
tkkd          2.526243e-07
tkka          2.526243e-07
tkhi          2.526243e-07
tkftnhj       2.526243e-07
tkUtt         2.526243e-07
tkUn          2.526243e-07
!»lSdlidende  2.526243e-07

[119817 rows x 1 columns]

In [87]:
df_combo = pd.DataFrame(combo['brev']**1/combo['ref'])

In [96]:
pd.DataFrame(combo['brev']**1.06/combo['ref']).sort_values(by=0, ascending=False)

                         0
Iowa          2.358826e+03
lowa          1.016680e+03
Wisconsin     1.006119e+03
Lindtner      8.685645e+02
Hilse         8.510933e+02
Dollar        7.094193e+02
Cent          6.488700e+02
Skare         6.202479e+02
Minnesota     6.116486e+02
Worth         5.746090e+02
Illinois      5.691040e+02
Gulliksen     4.558206e+02
Dakota        4.530120e+02
Hermund       3.775705e+02
Hilset        3.747917e+02
ikkt          3.636884e+02
Ingebrikt     3.498363e+02
tjenestepige  3.373456e+02
ieg           3.366342e+02
utvandringen  3.277378e+02
Creek         3.277378e+02
Brooklyn      3.158440e+02
nker          2.947494e+02
komer         2.810644e+02
Registre      2.749749e+02
Albion        2.728714e+02
Folkedal      2.674171e+02
Busett        2.646923e+02
iaa           2.624029e+02
bage          2.592474e+02
...                    ...
tiutte        2.526243e-07
tiund         2.526243e-07
tiun          2.526243e-07
tiuiM         2.526243e-07
tiugjen       2.526243e-07
tjpjje        2.526243e-07
tjtning       2.526243e-07
tlti          2.526243e-07
tkoL          2.526243e-07
tlmi          2.526243e-07
tllåagt       2.526243e-07
tliig         2.526243e-07
tlgt          2.526243e-07
tldat         2.526243e-07
tlcLut        2.526243e-07
tlLkagi       2.526243e-07
tlLdut        2.526243e-07
tkstiL        2.526243e-07
tko           2.526243e-07
tkSt          2.526243e-07
tkkjt         2.526243e-07
tkkjL         2.526243e-07
tkki          2.526243e-07
tkkd          2.526243e-07
tkka          2.526243e-07
tkhi          2.526243e-07
tkftnhj       2.526243e-07
tkUtt         2.526243e-07
tkUn          2.526243e-07
!»lSdlidende  2.526243e-07

[119817 rows x 1 columns]

In [101]:
print(', '.join(list(df_combo.sort_values(by=0, ascending=False)[:120].index)))

Iowa, lowa, Wisconsin, Lindtner, Hilse, Dollar, Cent, Skare, Worth, Minnesota, Illinois, Gulliksen, Dakota, Hermund, Hilset, ikkt, Ingebrikt, utvandringen, Creek, tjenestepige, Brooklyn, ieg, nker, komer, Albion, Folkedal, Busett, bage, Registre, erre, ldre, Torger, iaa, utvandra, Settlement, Flytte, ikal, Texas, Vede, Hvide, Åsland, Tl2, Nese, Semmingsen, ngere, Buffalo, rend, Blive, hilset, Haugerud, rgensen, Kendall, nke, utvandret, Syg, sente, Dodge, utvandrere, Ontario, Houg, Reiersen, Tollef, Fjære, Dane, T6, forlode, Calmar, Rustand, voxer, Grimstad, Raade, Nevada, Torson, Oregon, Gjertrud, Missouri, vrige, Takke, nge, Gjestvang, Syversen, Stoughton, Desember, seilede, Skov, Mitchell, dete, Meidell, Springfield, synode, Mehus, Sviin, New-, Mathilde, breva, Dollars, Tl4, Ugen, Hansdatter, Slutte, iul, Fødd, Dig, gte, Berthe, kjærligste, Rock, iom, Endre, utvandring, Minneapolis, kjøbt, Myran, Snee, Dak, fornorsking, River, Lina, rgen, kolt

In [62]:
def testord(words, df = df_combo):
    words = words.split()
    res = dict()
    for w in words:
        if w in df_combo.index:
            res[w] = df_combo.transpose()[w]
    return pd.DataFrame.from_dict(res, orient='index').sort_values(by=0, ascending=False)

In [102]:
dt = testord("""arbeid arbeidet Arbeid Arbeide arbeide Arbeidet fattig
fattige Fattige Fattig Rige Rike rike Rigdom . , og i Reise Reisen reise reiste Sjø Hav Havet Sjøen 
Kone Mor Far Datter Sønn Søn Bibelen Gud Dans danse kultur Kultur Sang Sangen Kulturen""")
dt

                  0
Kone      78.163480
Reisen    68.878102
Reise     62.863395
Datter    36.687952
Arbeide   20.856087
Fattig    17.074008
Søn       15.889869
Hav        8.678112
Fattige    8.254789
Dans       7.669608
Rige       6.418485
Havet      6.349838
Rigdom     5.986990
reise      5.184544
reiste     4.305999
arbeide    3.039147
Sang       3.020463
Arbeidet   2.407008
Gud        1.891319
Mor        1.355264
fattige    1.235776
og         1.183601
Sjø        1.164137
,          1.108983
Sangen     0.980326
i          0.946537
fattig     0.944335
.          0.761796
Far        0.699689
arbeidet   0.684990
Bibelen    0.478412
danse      0.472403
Arbeid     0.462571
Sjøen      0.388046
arbeid     0.281428
Kultur     0.191365
kultur     0.125073
rike       0.077717

In [107]:
dt = testord("""Hamar Namsos Trøndelag Rogaland Bergen Oslo Østfold Valdres og i , . Namdalen
Hallingdal Skien Telemark Vinje Lofoten Tromsø""")
dt

                   0
Hallingdal  5.609023
Telemark    4.929316
Valdres     2.980191
Rogaland    2.211329
og          1.183601
,           1.108983
i           0.946537
.           0.761796
Bergen      0.640309
Trøndelag   0.620873
Vinje       0.543830
Skien       0.465655
Oslo        0.333005
Lofoten     0.223872
Hamar       0.151544
Tromsø      0.022715

In [117]:
dt = testord("""Neger Negre Hvit hvit neger svart svarte Svarte . , og i paa på Indianer indianere indianer Slaver Slave slaver Afrikaner 
Afrikanere afrikanere same Sami lapp Lapp Samer Lapper""")
dt

                   0
Negre      37.252382
Slave      13.969643
Neger      12.417461
Slaver      4.268502
paa         3.604888
lapp        1.891723
same        1.201690
og          1.183601
,           1.108983
neger       0.997832
i           0.946537
.           0.761796
Svarte      0.665221
Hvit        0.582068
indianere   0.574882
indianer    0.351438
slaver      0.305347
på          0.288620
svart       0.144389
hvit        0.125513
svarte      0.040212
Indianer    0.000005

In [132]:
urns = list({x[0] for x in abrev})
urns

[2016072248034,
 2007041601053,
 2015012808002,
 2013010308006,
 2010061503016,
 2007091801006,
 2010082403023,
 2007030801010,
 2010051906100,
 2013041608123,
 2014072406038,
 2007112704027,
 2016052608061]

In [140]:
abrev

[[2007091801006, '', 'Fra Amerika til Norge', 1992],
 [2010051906100, '', 'Fra Amerika til Norge', 1992],
 [2007112704027, '', 'Fra Amerika til Norge', 1993],
 [2010051906100, '', 'Fra Amerika til Norge', 1992],
 [2007112704027, '', 'Fra Amerika til Norge', 1993],
 [2010061503016, 'Sunde, Rasmus', 'utvandrarsoge frå Sogndal', 1994],
 [2016072248034, 'Sunde, Rasmus', 'stad skal ein vera', 1989],
 [2013010308006, '', 'Amerikabrev', 2000],
 [2016052608061, 'Engen, Arnfinn', 'Utvandringshistorie og amerikabrev', 1975],
 [2007041601053, 'Johnson, Pål Espolin', 'Amerikabrev', 1985],
 [2015012808002, 'Kræmmer, Elias', 'Amerikanske breve', 1909],
 [2013041608123, 'Rodegard, Olaf', 'Amerikabrev', 1988],
 [2010082403023, 'Evensen, Erik Aalvik', 'Amerika-brevene', 1996],
 [2014072406038, '', 'Amerikabrev', 1989],
 [2007030801010, '', 'Amerikabrev', 1958]]

In [139]:
nb.get_urnkonk('Slave', {'urns' : urns, 'size' : 50, 'before' : 12, 'after' : 12})

In [37]:
combo.transpose()[df_combo.sort_values(by=0, ascending=False)[:20].index].transpose()

              brev           ref
?         0.043037  2.113356e-03
Kj        0.000610  1.186079e-06
re        0.002484  2.395880e-05
Co        0.002499  2.941476e-05
TI        0.000180  2.372158e-07
Hellik    0.000356  9.488634e-07
ster      0.000173  2.372158e-07
[         0.003874  1.817073e-04
]         0.003831  1.850284e-04
saa       0.008073  8.520793e-04
Østern    0.000136  2.372158e-07
jeg       0.014580  3.105630e-03
kj        0.000903  1.186079e-05
Haugerud  0.000181  4.744317e-07
rst       0.000177  4.744317e-07
Flesberg  0.000214  7.116475e-07
Meidell   0.000170  4.744317e-07
Desember  0.000280  1.423295e-06
mig       0.005120  5.078791e-04
rste      0.000315  1.897727e-06

In [143]:
df_combo[:5]

           0
,   1.108983
.   0.761796
og  1.183601
at  1.935426
i   0.946537

In [144]:
nb.cloud(df_combo.sort_values(by=0, ascending=False)[:29])

OverflowError: (34, 'Result too large')